# Database
DATABASE_URL="postgresql://user:password@localhost:5432/eis_dashboard?schema=public"

# NextAuth
NEXTAUTH_SECRET="generate-a-secure-secret-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Cron Secret (for Vercel Cron Jobs)
CRON_SECRET="generate-another-secure-secret"
